@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  color-scheme: light only;
}

html,
body {
  color-scheme: light only;
  font-family: "Pretendard Variable, Pretendard, sans-serif";
}

input {
  line-height: normal;
}
